gunicorn==20.1.0
Flask==2.2.2
Flask-SQLAlchemy==3.0.2
Flask-Mail==0.9.1
Flask-Caching==2.0.1
Flask-HTTPAuth==4.7.0
Flask-JWT-Extended==4.4.4
itsdangerous==2.1.2
schema==0.7.5
arrow==1.2.3
redis==4.4.0
Flask-Script==2.0.6
mysqlclient==2.1.1
psycopg2==2.9.5
python-dotenv==0.21.0
pandas==1.5.2
openpyxl==3.0.10
flasgger==0.9.5
graphene-sqlalchemy==2.3.0
flask-graphql==2.0.1
requests==2.28.2
Pillow==9.4.0
aliyun-python-sdk-core==2.13.36
